@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 2
   
   Bike the Mountains Tour Style Sheet
   Author: Dylan Kelley
   Date: 9.6.18
   
   Filename: mw_styles.css

*/
/* Structural Styles */
/* These style are what affect the structure of the whole page, the body, the footer, and the address, and are used to set the background color, style rules for the font, and padding around each of the elements. */
html {
    background-color: rgb(173, 189, 227);
}

body {
    background-color: rgb(227, 210, 173);
    font-family: 'Century Gothic', sans-serif;
}

footer {
    background-color: rgb(208, 184, 109);
    padding-top: 5px;
    padding-bottom: 5px;
}

address {
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Heading Styles */
/* This style affects any h1 or h2 headings on the page and sets their font weight to normal. */
h1,
h2 {
    font-weight: normal;
}

/* Navigation Styles */
/* These are the style rules for the navigation links on the left that change the font size and text color, as well as the line height and list style type of the unordered list. */
nav>ul {
    list-style-type: none;
    font-size: 0.9em;
    line-height: 2em;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: rgb(43, 59, 125);
}

nav a:active,
nav a:hover {
    color: rgb(212, 35, 35);
}

/* Article Styles */
/* This is the style rules for the tour summary article that changes the font size, letter spacing and font style. */
article#tour_summary h1 {
    font-size: 2.2em;
    letter-spacing: 0.2em;
}

article#tour_summary p {
    font-size: 1.1em;
}

article#tour_summary>p:first-of-type {
    font-size: 1.2em;
    font: small-caps;
}

/* Aside Styles */
/* These are all style rules for the aside element seen to the right of the article with the ID of "tour_itinerary", and these rules set the font size and color for different grouping elements nested in the aside. */
aside#tour_itinerary h1 {
    font-size: 1.2em;
}

aside#tour_itierary h2 {
    font-size: 0.9em;
}

aside#tour_itierary p {
    font-size: 0.8em;
}

aside#tour_itinerary h2:nth-of-type(odd),
aside#tour_itinerary p:nth-of-type(odd) {
    color: rgb(79, 91, 40);
}

aside#tour_itinerary h2:nth-of-type(even),
aside#tour_itinerary p:nth-of-type(even) {
    color: rgb(81, 95, 175);
}

/* Blockquote Styles */
/* These styles are for the blockquote nested in the paragraph in the center of the page and are used to set the text and background colors, as well as the blockquote's padding. */
blockquote {
    background-color: rgb(173, 189, 227);
    color: rgba(255, 255, 255, 0.65);
}

blockquote p {
    padding: 2.5px 10px 2.5px 10px;
}